# make sure, that you edit everything EXCEPT!! username, passNTLMv2 and the last line.
# the template will be used as foundation for the new cntlm.conf file for Windows and Arch Linux.
Username    USER_NAME
Domain      YOURDOMAIN
PassNTLMv2  USER_PASS

Proxy       YOURPROXY.COM:PORT
NoProxy     192.168.*.*, 127.0.0.*, 10.*.*.*, localhost
Listen      3128
# empty line, because cntlm crashes without it
